.search {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 5rem;
  gap: 1rem;
}

.submitButton {
  font-family: var(--font-family);
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--color-background-card);
  color: var(--color-text);
}

.inputField {
  font-family: var(--font-family);
  border-radius: 0.3rem;
  border: none;
}

::-webkit-input-placeholder {
  text-align: center;
  color: var(--color-text-footer);
}
